# Fichiers d'environnement
.env
.env.local
.env.development
.env.production
.env.*

server/vercel.json

# Clés et configurations sensibles
config/*.json
server/config/*.json
*.key
*.pem

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed