# Fichiers d'environnement
.env
.env.local
.env.*

# Clés Google Cloud
config/coursier-8f010-9427ca5ddde9.json
config/*.json  # Pour tout fichier JSON dans config/

# Autres fichiers sensibles
node_modules/
.env
*.log